<!-- About partial (Qui sommes-nous) -->
<section id="categories" class="categories">
  <div class="container">
    <div class="section-title">
      <h2>Qui sommes-nous ?</h2>
    </div>
    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <p>Nous sommes indépendants, et spécialisés dans la préparation de kits d'urgence</p>
      </div>
      <div class="feature-card">
        <div class="feature-icon">
          <i class="fas fa-star"></i>
        </div>
        <p>Nous sélectionnons, testons et recommandons les meilleurs équipements disponibles sur Amazon, grâce à un système <b>d'affiliation transparent</b></p>
      </div>
    </div>
  </div>
</section>
