<!-- Navigation partial -->
<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">
      <img src="/img/logo.webp" class="logo-img" alt="Logo Equipetoi.fr" />
      Equipetoi.fr
    </a>
    <ul class="nav-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/kit-72h">Kit 72h</a></li>
      <li class="dropdown">
        <a href="/categories" class="dropdown-toggle">
          Catégories <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu nav-links">
          <li><a href="/categories">Toutes les catégories</a></li>
          <li><a href="/trousse-secours">Trousses de secours</a></li>
          <li><a href="/sacs-evacuation">Sacs d'évacuation</a></li>
          <li><a href="/batteries">Batteries et chargeurs</a></li>
          <li><a href="/reserves-alimentaires">Réserves alimentaires</a></li>
          <li><a href="/radios">Radios</a></li>
          <li><a href="/divers">Equipements complémentaires</a></li>
        </ul>
      </li>
    </ul>
    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
