/* Styles for product-card web component (moved from js/productCard.js) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:host {
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: var(--transition);
  position: relative;
  display: block;
}
.product-title {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.product-content {
  padding: 20px 0;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}
.product-description {
  color: #666;
  margin-bottom: 16px;
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}
.btn-amazon {
  width: 100%;
  padding: 12px;
  background-color: #FF9900;
  border: none;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  transition: var(--transition);
  margin-bottom: 16px;
}
.product-meta {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.product-rating {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-weight: 700;
}
.product-disclaimer-price {
  display: flex;
  align-items: right;
  width: 100%;
  justify-content: flex-end;
  font-size: 11px;
  color: #c0bfbf;
  align-items: center;
}
.product-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price-info-icon {
  margin-right: 3px;
}
.rating-value {
  color: var(--accent-color);
  font-size: 1.5rem;
}
.rating-max {
  color: #999;
  font-size: 0.9rem;
}
.product-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .product-img {
    height: 350px;
    object-fit: contain;
  }
}
